---
title: Scrollmagic Pinning Mobile
---


<section>
  <h1>Scrollmagic Pinning Mobile</h1>
</section>

<div class="pinContainer" id="pinContainer">
  <div id="pinTrigger1"></div>
  <div class="pin" id="pin1"></div>
</div>

<section>
  <%= link_to(
    "Read Documentation",
    "https://middlemanapp.com/basics/templating_language/",
    target: "_blank"
  ) %>
</section>
